.text-editor {
    --text-editor-line-number-width: 60px;
    --text-editor-line-number-padding: 8px;
    --text-editor-padding: 0px;
    --text-editor-line-number-color: #111;
    --text-editor-line-number-background: #ddd;
    --text-editor-background: #fff;
    --text-editor-selected-line-background: #eee;
    --text-editor-selected-line-number-background: #ccc;
    --text-editor-selection-background: #B5D5FF;
    --text-editor-caret-color: #000;
    --text-editor-color: #000;
    --text-editor-selection-color: #000;
    font-family: monospace;
    display: block;
    position: relative;
    padding: var(--text-editor-padding);
    padding-left: var(--line-number-width);
    outline: none;
    font-size: 1em;
    white-space: pre-wrap;
    tab-size: 4;
    overflow-y: auto;
    overflow-x: visible;
    overflow-wrap: break-word;
    box-sizing: border-box;
    color: var(--text-editor-color);
    caret-color: var(--text-editor-caret-color);
    background-color: var(--text-editor-background);
    counter-reset: linenmr;
}

.text-editor::before {
    content: '';
    position: absolute;
    width: var(--text-editor-line-number-width);
    height: 100%;
    background-color: var(--text-editor-line-number-background);
}

.text-editor ::selection {
    color: var(--text-editor-selection-color);
    background-color: var(--text-editor-selection-background);
}

.text-editor div.line {
    padding: 0px var(--text-editor-padding) 0px calc(var(--text-editor-line-number-width) + var(--text-editor-line-number-padding));
    min-height: 1em;
    counter-increment: linenmr;
    position: relative;
    transition: background-color 0.1s;
}

.text-editor div.line.selected {
    background-color: var(--text-editor-selected-line-background);
}

.text-editor div.line::before {
    content: counter(linenmr);
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: var(--text-editor-line-number-width);
    height: 100%;
    text-align: right;
    padding-right: var(--text-editor-line-number-padding);
    background-color: var(--text-editor-line-number-background);
    color: var(--text-editor-line-number-color);
    transition: background-color 0.1s;
}

.text-editor div.line.multi-selected::before,
.text-editor div.line.selected::before {
    background-color: var(--text-editor-selected-line-number-background);
}